/****General****/
/*Border-box*/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/*******Navigation Bar*************/
header a {
	text-decoration: none;
}

.menu li {
	list-style: none;
}

.menu a {
	padding: 10px;
}

/**********Welcome Section************/
.welcome-section {
	background-color: green;
}

.welcome-image {
	width: 40%;
}

